ios/ti.animation.xcodeproj/xcuserdata
ios/build
ios/*.xcuserstate
android/build
android/libs
android/example
android/dist
android/java-sources.txt
android/build.properties
ios/ti.animation.xcodeproj/project.xcworkspace/xcuserdata/*
