ios/ti.animation.xcodeproj/xcuserdata
ios/build
ios/*.xcuserstate
android/build
android/libs
android/example
android/dist
android/java-sources.txt
android/build.properties
ios/ti.animation.xcodeproj/project.xcworkspace/xcuserdata/*
.DS_Store
ios/Cartfile.resolved
ios/Carthage
/android/.gradle
/android/.settings/org.eclipse.buildship.core.prefs
/ios/dist
